body {
  overflow-x: hidden;  
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.bodyWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0;
}

// mobile landscape
@media all and (min-width: 700px) {
  .bodyWrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    overflow-y: scroll;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .bodyWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
