.bioContainer {
  flex: 1.5 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bioStyle {
  align-self: flex-end;
  min-width: 215px;
  max-width: 30rem;

  gap: 10px;
  color: #041328;
  // text-align: justify;
  font-family: Inconsolata;
  font-size: .9em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1.5px;
  margin: 0;

  // border: dashed yellow;
}

.bioImg {
  // justify-self: flex-end;
  min-width: 0;
  width: 155px;
  height: 220px;
  // border: dashed wheat;
  padding: 0;
}

.meshWrap {
  border: dashed darkblue;
}

// mobile landscape
@media all and (min-width: 667px) {
  .bioStyle {
    padding: 3.5vh 0 0 34px;
    margin: 0 5.5rem 1rem 0;
  }

  .bioImgWrap {
    margin: 0 5.5rem 0 0;
    align-self: flex-end;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .bioStyle {
    color: #ffffff;
    font-weight: 300;

  }

 

  // .bioImgWrapJustify {
  //   justify-self: center;
  // }
}