// @media all and (prefers-color-scheme: dark) -- for future reference

// mobile/base
.greenWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  

  display: flex;
  background: linear-gradient(180deg, #002502 0%, #003d03 100%);
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 0;
  padding: 52px 20px;
  min-height: 100%;
  border: dashed cyan;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

}

.menuRoutes {
  width: var(--nav_bar_height);
  height: var(--nav_bar_height);
  position: absolute;
  left: 0%;
  z-index: 9999999;

  pointer-events: all;
}

.menuRoutes i {
  font-size: 1.5em;
  cursor: pointer;
}

.navContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #002502;
  border: dashed purple;
}

.menuItems {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  list-style: none;
  border: dashed black;
}

.menuItems li {
  // margin: 0 6px 0 0;
}

.menuItems li a {
  color: #78A0DB;
  font-family: Hind;
  font-size: .9em;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  // margin: 0;
  text-decoration: none;
  pointer-events: all;
}


// mobile landscape
@media all and (min-width: 480px) {
  .greenWrapper {
    // max-width: 175px;
    flex: 1 0px;
    min-width: 160px;
  }

  .textWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    // min-height: 100%;
    // border: dashed orange;
  }
}

// tablet
@media all and (min-width: 768px) {
  .greenWrapper {
    // max-width: 20%;
    // min-width: 175px;
    flex: 1 0px;
  }

  .textWrap {

  }  
}

// desktop
@media all and (min-width: 1024px) {
  .greenWrapper {
    // max-width: 50%;
    // padding: 52px 60px;
    flex: 1 100%;
  }
  
  // .textWrap {
  //   flex-wrap: nowrap;
  // }
}

// desktop wide
@media all and (min-width: 1200px) {
  .textWrap {
    // padding: 0px 30px;
  }
}

#menuActive {
  opacity: 1;
  transform: translate(0%, 0%);
}



/////////////////

// .contentWrap {
//   min-width: 100%;
//   // flex: 1 0 auto;
//   display: flex;
//   flex-direction: column;
//   // align-items: flex-start;
//   gap: 40px;
//   // align-self: stretch;
//   border: dashed #78A0DB;
// }


// @media screen and (min-width: 752px) and (max-width: 885px) {
//   .greenWrapper {
//     height: 100vh;
//     flex-direction: column;
//     align-items: flex-start;
//   }
// }

// @media screen and (max-width: 751px) {
//   .greenWrapper {
//     display: flex;
//     height: 132px;
//     padding-right: 15px;
//     justify-content: center;
//     align-items: center;
//     gap: 376px;
//     align-self: stretch;
//   }
// }



// svg and hover animation

// .bioImgWrap svg {
//   // min-width: 100%;
//   // height: auto;
//   transform-style: preserve-3d;
//   // background-color: #78A0DB;
// }

// @keyframes rotate {
//   from {
//       transform: rotateY(0deg);
//   }
//   to {
//       transform: rotateY(90deg);
//   }
// }

  // .filledOval {
  //   // background-image: url('./../img/profilepic.png');
  //   fill: url('./../img/profilepic.png');
  // }

  // &:hover {
  //   .filledOval {
  //     transform-style: preserve-3d;
  //     transform-origin: center center;
  //     animation-name: rotate;
  //     animation-duration: 1s;
  //     animation-timing-function: linear;
  //     // animation-iteration-count: infinite;
  //   }
  // }