// @media all and (prefers-color-scheme: dark) -- for future reference

// mobile/base
.greenStyle {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  

  display: flex;
  background: #002502;
}

.upperWrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  gap: 40px;
  // align-self: stretch;
  // border: dashed #78A0DB;
}

.logoWrap {
  width: 200px;
  height: auto;
  align-items: center;
  // align-items: flex-start;
}

.logo {
  max-width: 100%;
}

.fallbackInfo {
  background-image: url('./../img/LogoName.png');
}

.textWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  min-height: 100%;
}

.linkWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links {
  color: #78A0DB;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  margin: 0;
}

.bio {
  min-width: 215px;
  max-width: 450px;
  flex: 1 0 0;
  gap: 10px;
  color: #cbdaef;
  font-family: Inconsolata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  margin: 0;
}

// mobile landscape
@media all and (min-width: 480px) {

}

// tablet
@media all and (min-width: 768px) {
  .greenWrapper {
    align-items: flex-start;
    flex-direction: column;
    flex: 1 1 0;
    padding: 52px 60px;
    gap: 20px;
    min-height: 100%;
    max-width: 33%;
    // border: dashed cyan;
  }

  .bioImgWrapJustify {
    justify-self: center;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .greenWrapper {
    align-items: flex-start;
    flex-direction: column;
    flex: 1 0 0;
    padding: 52px 60px;
    gap: 20px;
    min-height: 100%;
    max-width: 50%;
    // border: dashed cyan;
  }

  .bioImgWrapJustify {
    justify-self: flex-end;
  }
}

// desktop wide
@media all and (min-width: 1200px) {
  .textWrap {
    padding: 0px 30px;
  }
}


// @media screen and (min-width: 752px) and (max-width: 885px) {
//   .greenWrapper {
//     height: 100vh;
//     flex-direction: column;
//     align-items: flex-start;
//   }
// }

// @media screen and (max-width: 751px) {
//   .greenWrapper {
//     display: flex;
//     height: 132px;
//     padding-right: 15px;
//     justify-content: center;
//     align-items: center;
//     gap: 376px;
//     align-self: stretch;
//   }
// }



.lowerWrapper {
  display: grid;
  flex-direction: row;
  height: 35%;
  width: 100%;
  // border: dashed pink;
}

.bioImgWrap {
  display: flex;
  align-self: flex-end;
  min-width: 0;
  width: 134px;
  height: 220px;
  // border: dashed wheat;
}



.ovalCanvas {
  border: dashed wheat;
}


// svg and hover animation

// .bioImgWrap svg {
//   // min-width: 100%;
//   // height: auto;
//   transform-style: preserve-3d;
//   // background-color: #78A0DB;
// }

// @keyframes rotate {
//   from {
//       transform: rotateY(0deg);
//   }
//   to {
//       transform: rotateY(90deg);
//   }
// }

  // .filledOval {
  //   // background-image: url('./../img/profilepic.png');
  //   fill: url('./../img/profilepic.png');
  // }

  // &:hover {
  //   .filledOval {
  //     transform-style: preserve-3d;
  //     transform-origin: center center;
  //     animation-name: rotate;
  //     animation-duration: 1s;
  //     animation-timing-function: linear;
  //     // animation-iteration-count: infinite;
  //   }
  // }