// @media all and (prefers-color-scheme: dark) -- for future reference

// smallest iPhone 320 x 480, iPhone 12 390 x 844

// @media all and (min-width: 700px) {
// }

// @media all and (min-width: 1024px) {
// }

// @media all and (min-width: 1270px) {
// }

// @media all and (min-width: 1500px) {
// }

:root {
  --nav_bar_height: 20px;
}

// mobile/base
.greenWrapper, .greenWrapperTab {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  background-color: #222222;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 61.8vh;
  min-height: 61.8vh;
  z-index: 999999;
  pointer-events: none;
  box-shadow: 6px 0px 12px 0px rgba(0, 27, 8, 0.45);
}

.greenWrapper {
  padding: 55px 0 35px 0;
  gap: 10vh;
}

.greenCollapse {
  background-color: transparent;
  align-items: flex-start;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  left: 20px;
  top: 20px;
  color: #f5f5f5;
}

.icon {
  width: 60%;
  height: auto;
  color: #001b08;
}

.markX {
  width: 60%;
  height: auto;
}

.menuRoutes {
  width: 45px;
  z-index: 9999999;
  padding: 10px 5px 0 0;
  align-self: flex-end;
  pointer-events: all;
  cursor: pointer;
}

.menuRoutes object {
  pointer-events: none;
}

.navContainer {
  width: 150px;
  height: 100%;
  position: absolute;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #222222;
  display: flex;
  justify-content: center;
  z-index: 999999;
}

.menuItems {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.menuItems li {
  margin: 0 0 15px 0;
  line-height: 1.25em;
}

.menuItems li a {
  color: #52a3da;
  font-family: Hind;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  text-decoration: none;
  pointer-events: all;
}

.projectPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(34, 34, 34, 0.85);
  z-index: 999999;
}

.popupContainer {
  display: grid;
  align-items: center;
  height: 100vh;
  transform: translateY(-1.5rem);
}

.closeIcon {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 9999999;
  pointer-events: all;
  cursor: pointer;
}

.closeIcon:hover {
  transform: scale(1.2);
  transition: all 0.35s ease;
}

#menuActive {
  opacity: 1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

@media all and (min-width: 500px) {
  .greenWrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 46px 46px 31px 40px;
    width: 100vw;
    height: 100%;
    min-height: fit-content;
  }

  .textWrap {
    width: 100%;
    margin-left: auto;
  }

  .menuItems {
    width: 100%;
  }

  .menuItems2 {
    align-self: flex-end;
    align-items: flex-end;
    padding: 0 40px 0 0;
    margin-left: auto;
  }

  .menuItems li {
    line-height: .75em;
  }

  .menuItems li a {
    font-size: .9em;
  }

}

// tablet
@media all and (min-width: 700px) {
  .greenWrapper, .greenWrapperTab {
    grid-column: 1;
    flex: 1 0px;
    height: 100%;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5vh;
  }

  .greenWrapperTab {
    padding: 50px 0;
    // width: 12vw;
  }

  .greenWrapper {
    width: 66vw;
    padding: 50px 20px;
  }

  .textWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 6 0 0;
    align-self: stretch;
    margin: 0;
  }

  .noTextWrap {
    display: none;
  }

  .menuItems {
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 0;
    width: auto;
    // padding: 0 24px 0 34px;
    padding: 0 24px 0 38px;
  }

  .menuItems li {
    line-height: .75em;
  }

  .menuItems li a {
    font-size: .9em;
    pointer-events: all;
  }
}

@media all and (min-width: 775px) {
  .greenWrapper {
    width: 512px;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .greenWrapper {
    width: 50vw;
    height: 100%;
  }

  .greenWrapperTab {

  }

  .menuItems {
    width: auto;
  }

  .menuItems2 {
    padding: 0 24px 0 34px;
    position: relative;
    top: 0;
    width: fit-content;
  }
}

// desktop wide
@media all and (min-width: 1270px) {
  .greenWrapperTab {
    width: 225px;
    padding: 50px 20px;
  }
}

#menuPointerEvents li a {
  pointer-events: all;
}

