.headerWrap {
  width: 45%;
  flex: .5 0 0;
  height: auto;
  align-self: center;
  // justify-self: center;
  // align-items: flex-start;
  // border: dashed pink;
}

.fallbackInfo {
  background-image: url('./../img/LogoName.png');
}

// mobile landscape
@media all and (min-width: 667px) {
  .headerWrap {
    width: 100%;
    max-width: 200px;
  }
}

// tablet
@media all and (min-width: 768px) {
  .headerWrap {
    // justify-self: center;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .headerWrap {
    align-self: flex-start;
    padding: 0 0 0 19px;
    width: 43%;
  }
}

// desktop wide
@media all and (min-width: 1200px) {
  .headerWrap {
    max-width: 201px;
  }
}