

.headerWrap {
  width: 45%;
  min-width: 180px;
  // flex: .5 0 0;
  height: auto;
  align-self: flex-start;
  // justify-self: center;
  // align-items: flex-start;
  pointer-events: all;
  position: fixed;
}

.logo {
  // height: 100%;
  display: flex;
  justify-content: center;
}

.logoObject {
  // width: 200px;
  pointer-events: none;
  width: 93%;
}

.fallbackInfo {
  background-image: url('./../img/LogoName.png');
}

// mobile landscape
@media all and (min-width: 667px) {
  .headerWrap {
    // width: 100%;
    min-width: 0;
    max-width: 200px;
    align-self: center;
  }
}

// tablet
@media all and (min-width: 768px) {
  .headerWrap {

  }
}

// desktop
@media all and (min-width: 1024px) {
  .header2Wrap {
    align-self: flex-start;
    // padding: 0 0 0 19px;
    width: 43%;
    position: relative;
  }

  .logoObject {
    // width: 200px;
    pointer-events: none;
    width: 70%;
  }
}

// desktop wide
@media all and (min-width: 1200px) {
  .header2Wrap {
    max-width: 201px;
  }
}