.headerWrap {
  width: 45%;
  flex: 1 0 0;
  height: auto;
  align-items: center;
  // align-items: flex-start;
}

.fallbackInfo {
  background-image: url('./../img/LogoName.png');
}

// mobile landscape
@media all and (min-width: 480px) {
  .headerWrap {
    width: 100%;
  }
}

// tablet
@media all and (min-width: 768px) {
  .headerWrap {
    // width: 100%;
    justify-self: center;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .headerWrap {
    width: 42%;
  }
}

// desktop wide
@media all and (min-width: 1200px) {
  .headerWrap {
    width: 42%;
    max-width: 201px;
  }
}