.homeWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    

  display: flex;
  flex-direction: column; 

  min-height: 100%;
  min-width: 50%;
  align-self: flex-end;
  align-items: center;
}

.homeProjectHeader {
  width: 64px;
  height: 50px;
  align-self: flex-end;
  padding: 50px 50px 0 0;
}

.cardContainer {
  width: 100%;
  height: 100%;
  align-content: center;
}

.bubbleCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  // gap: 4em;
  // background-color: #ffffff;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.40) 35.76%, rgba(255, 255, 255, 0.75) 58.56%);  width: 100%;
  margin-bottom: .75rem;
  padding: 18px 0 18px 0;
  clip-path: ellipse(70% 50% at 50% 50%);
}

.picture {
  width: 200px;
  min-height: 200px;
  aspect-ratio: 1/1;
  margin-left: 6rem;
  filter: drop-shadow(-3px 6px 12px rgba(0, 27, 8, 0.45));
}

.bubbleContent {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bubbleTop {
  min-height: 50%;
  width: 100%;
  border-bottom: 1px solid #001B08;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 8px;
  margin-top: 28px;
  padding-left: 25px;
}

.bubbleTop h3 {
  color: #BFCEC3;
  text-align: right;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 175% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 50px;
}

.bubbleBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 25px;
}

.bubbleBottom h4 {
  color: #001B08;
  font-family: Hind;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  letter-spacing: 2.4px;
  text-transform: capitalize;
  margin: 0;
  padding-right: 50px;
}

h4.noStyle {
  color: transparent;
}

.imgMask {
  object-fit: contain;
  min-width: 100%;
  height: 100%;
  mask-image: url("data:image/svg+xml,%3Csvg width='252' height='251' viewBox='0 0 252 251' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23474bff' d='M251.33 145.23C251.19 162.78 250.66 182.1 249.11 205.9C246.96 238.92 235.41 250.25 212.37 250.25C200.68 250.25 191.19 250.25 157.56 250.25H129.45H122.37H39.45C16.41 250.25 4.85999 238.93 2.70999 205.9C1.15999 182.09 0.62999 162.78 0.48999 145.23V105.51C0.62999 87.96 1.15999 68.64 2.70999 44.84C4.85999 11.82 16.41 0.5 39.45 0.5H129.45H157.56C191.19 0.5 200.68 0.5 212.37 0.5C235.41 0.5 246.96 11.82 249.11 44.85C250.66 68.66 251.19 87.97 251.33 105.52V145.24V145.23Z' /%3E%3C/svg%3E");
  // -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='414.12' height='310.94' viewBox='0 0 414.12 310.94' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23474bff' d='M258.65,310.94h89.66c37.69,0,52.87-17.36,57.34-47.1,7.09-47.19,8.47-74.92,8.47-108.37s-1.38-61.18-8.47-108.37c-4.47-29.74-19.65-47.1-57.34-47.1H65.81C28.12,0,12.94,17.36,8.47,47.1,1.39,94.29,0,122.02,0,155.47s1.38,61.18,8.47,108.37c4.47,29.74,19.65,47.1,57.34,47.1h192.84Z' /%3E%3C/svg%3E");
  // mask-image: url(#clipping);
  // -webkit-mask-image: url(#clipping);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  // filter: box-shadow(-1px 4px 4px 0px rgba(0, 0, 0, 0.25));
}
