// mobile landscape
// @media all and (min-width: 667px) {} mobile landscape
// @media all and (min-width: 768px) {} tablet
// @media all and (min-width: 1024px) {} desktop
// @media all and (min-width: 1200px) {} wide
// @media all and (min-width: 1440px) {} extra wide

.pantryProContainer {
  grid-column: 1 / span 2;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/////  Bubbles  /////

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.bubble1 {
  -webkit-clip-path: ellipse(190% 90% at 0% 0%);
  clip-path: ellipse(190% 90% at 0% 0%);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.9) 45.76%, rgba(255, 255, 255, 0.95) 65.56%);
  width: 100vw;
  height: 57rem;
}

.bubble4 {
  -webkit-clip-path: ellipse(120% 43% at 65% 44%);
  clip-path: ellipse(120% 43% at 65% 44%);
  height: 80rem;
  margin-top: 425rem;
  width: 100vw;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.9) 45.76%, rgba(255, 255, 255, 0.95) 65.56%);
}

.pantryProWrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-column: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.oneInfo {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  padding: 50px 0 12px 5%;
}

.numberInv {
  color: #C4D1C8;
  text-align: left;
  font-family: Hind;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 7.5px;
  text-transform: capitalize;
  align-self: end;
  padding-bottom: 5px;
}

.headersInv {
  color: #001B08;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
}

#headers {
  padding: 6px 0 0 10px;
}

.line {
  max-width: 100%;
  color: black;
  background-color: black;
  z-index: 99999;
  grid-row: 2;
  grid-column: 1 / span 3;
}

#blurb1 {
  color: #001B08;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.25;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
}

.columnOneParagraph {
  grid-column: 1;
  padding: 0 5% 0 5%;
}

.columnTwoParagraph {
  grid-column: 2;
  padding: 0 5% 0 5%;
}

//// Banner ////

.banner {
  display: flex;
  overflow-x: hidden;
  background-image: url('./../img/bannerImageLogo.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 14rem;
  width: 100%;
  z-index: 999;
}

.logo {
  display: none;
}

//// Intro ////

.sectionIntro {
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 15px 5% 0 5%;
}

.infoYear {
  color: #001B08;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 2.1px;
  text-transform: capitalize;
  margin: 0;
}

.introLine {
  max-width: 100%;
  width: 100vw;
}

.infoBlurb {
  color: #001B08;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.25;
  margin: 0;
}

.infoLine {
  border-bottom: 1px solid #1b1b1bae;
}

#summary {
  padding-bottom: 15px;
}

.exShotInv {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  row-gap: 2%; 
  padding: 30px 0 0px 0;
  z-index: 999;
}

.imgInv {
  max-width: 9rem;
  max-height: 100%;
  align-self: center;
}

#imgInvHide {
  display: none;
}

//// Problem Section ////

.section1 {
  grid-column: 1 / span 2;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #1b1b1bae;
}

.problemHeader:after {
  content:"The Problem ";
  white-space: pre; 
}

.prob1 {
  grid-column: 1;
  padding: 0 5% 0 5%;
  max-width: 100%;
  z-index: 9999;
}

.prob2 {
  display: none;
}

.prob3 {
  grid-column: 2;
  padding: 0 10% 0 5%;
  z-index: 9999;
}

//// User Research ////

.useResInfo {
  max-width: 100%;
  grid-column: 1 / span 2;
  padding: 0px 0 12px 5%;
}

.twoSection {
  z-index: 99999;
  display: flex;
  flex-direction: column;
}

.twoSectionHide {
  display: none;
}

#useResDetails {
  display: flex;
  flex-direction: row;
  padding: 50px 0 0 0;
}

#userResHead {
  padding-top: 5rem;
  padding-bottom: 10px;
}

.usResBlurb, .usResBlurbB{
  padding: 0 5% 0 5%;
}

//// Solution ////

.useRes {
  border-bottom: none;
}

.siteSection {
  display: flex;
  flex-direction: column;
}

.sitePA {
  grid-column: 1;
  padding: 0 5% 10px 5%;
}

#blurbPadAdj {
  color: #001B08;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.25;
  margin: 0;
  padding-top: 20px;
  z-index: 9999;
}

.sitePAHide {
  display: none;
}

.sitePB {
  grid-column: 2;
  padding: 15px 5% 0 5%;
}

.site {
  grid-column: 1 / span 2;
  grid-row: 1;
  max-width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding: 15px 30px 0 30px;
}

.siteMap {
  align-self: center;
  max-width: 100%;
}

//// Usability Study ////

.section3Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

.section3 {
  display: grid;
  height: 100%;
  justify-content: center;
  margin: 3rem 0;
  clip-path: ellipse(145% 50% at 50% 50%);
  padding: 80px 0;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.9) 45.76%, rgba(255, 255, 255, 0.95) 58.56%);  
}

.threeBlurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
}

.usaInfo {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #1b1b1bae;
}

.usaHeader {
  grid-column: 1;
  padding: 50px 0 12px 5%;
}

.usaPContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.usaLineB {
  display: none;
}

.siteUSA {
  padding: 15px 5% 5px 5%;
}

.siteUSSpanA {
  display: unset;
}

.siteUSB {
  grid-column: 1;
  padding: 15px 5% 5px 5%;
}

.siteUSSpanB {
  display: none;
}

#usaBlurbWide {
  color: #001B08;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.25;
  margin: 0;
  padding-top: 30px;
  z-index: 9999;
}

#hide {
  color: white;
}

.section3b {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 30px;
}

.sectionWrapperVideo {
  display: flex;
  flex-direction: column;
}

.sectionWrapperVideo div {
  padding-top: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.img3 {
  max-height: 35rem;
}

.vid3 {
  visibility: visible;  
  opacity: 1;           
  display: block;       
}

.videoCaption,
.section4Caption {
  color: #001B08;
  text-align: center;
  font-family: Inconsolata;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
  color: #001B08;
  height: 34px;
  margin: 0;
  z-index: 9999;
}

//// Landing Page Iterations ////

.section4Img {
  padding-top: 3.5rem;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: center;
  padding: 2rem .5rem 0 .5rem;
}

.fourImg {
  max-width: 6.5rem;
  max-height: auto;
  align-self: center;
  padding-bottom: 10px;
}


.sec4LastImg,
.detailsImg img {
  max-width: 12rem;
  height: auto;
}

.section4Caption {
  grid-column: 1 / span 2;
  justify-self: center;
}

///// Invoice ////

.section5HeaderContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #1b1b1bae;
}

#desDetails {
  max-width: 100%;
  padding: 50px 0 12px 5%;
  position: relative;
  z-index: 9999;
}

.sec5Line {
  max-width: 100%;
  max-height: 100%;
}

.section5 {
  z-index: 9999;
}

.invImgSec {
  grid-column: 2;
  grid-row: 3 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .7rem;
  padding: 25px 5vw 0 0;
  max-width: 100%;
  max-height: 100%;
}

.invVidCap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-height: 100%;
  align-self: center;
}

.sec5P {
  padding: 30px 5% 0 5%; 
}

.invImgContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
}

.invImg {
  max-width: 10rem;
  max-height: 100%;
  padding: 5px 0 0 0;
}

//// UI Kit ////

#desKitB {
  display: none;
}

.secUiKit {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

#desKit {
  text-align: start;
  padding: 50px 0 2px 5%;
}

.uiKitContainer {
  align-self: center;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-content: center;
  justify-items: center;
  padding: 15px 5% 0 5%;
}

.uiImg {
  max-width: 100%;
  height: auto;
  align-self: center;
}

#kit1 {
  grid-column: 1;
  grid-row: 1;
  max-width: 85%;
  align-self: end;
  justify-self: end;
  padding-right: 5%;
}

#kit2 {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: start;
  max-height: 100%;
  max-width: 90%;
}

#kit7 {
  grid-column: 2;
  grid-row: 3;
  max-width: 90%;
  transform: translateY(-20%);
}

#kit4 {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
  max-width: 95%;
}

#kit5 {
  grid-column: 2;
  grid-row: 4;
  max-width: 90%;
  align-self: start;
  justify-self: center;
  transform: translateY(-30%);
}

#kit3 {
  grid-column: 1;
  grid-row: 4;
  padding-bottom: 9px;
  max-width: 90%;
}

#kit6 {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  max-width: 100%;
  padding-top: 10px;
  transform: translateY(0%);
}

//// All Frames ////

.finalSectionImg {
  display: flex;
  align-self: center;
  max-width: 100%;
  padding-top: 3rem;
  z-index: 99999;
}

//// Reflection ////

.refInfo {
  display: flex;
  flex-direction: row;
  padding: 50px 0 12px 10%;
}

//// Additional Info ////

.addInfo {
  padding: 0 0 10rem 0;
}

#lineDes {
  z-index: 99999;
}

.addInfoColContainer {
  padding: 50px 5% 12px 5%;
}

.addInfoLine {
  grid-column: 1 / span 3;
  width: 100vw;
  height: auto;
  border-bottom: 1px solid #1b1b1bae;
}

.projectCardContainer {
  grid-row: 3;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding: 30px 15px 0 15px;
  gap: 3rem;
}

.projectCards {
  width: 16rem;
  min-height: 16rem;
  aspect-ratio: 1/1;
  filter: drop-shadow(-3px 6px 12px rgba(0, 27, 8, 0.45));
  z-index: 9999;
  pointer-events: all;
}

.imgMask {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  min-width: 100%;
  height: 100%;
  mask-image: url("data:image/svg+xml,%3Csvg width='252' height='251' viewBox='0 0 252 251' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23474bff' d='M251.33 145.23C251.19 162.78 250.66 182.1 249.11 205.9C246.96 238.92 235.41 250.25 212.37 250.25C200.68 250.25 191.19 250.25 157.56 250.25H129.45H122.37H39.45C16.41 250.25 4.85999 238.93 2.70999 205.9C1.15999 182.09 0.62999 162.78 0.48999 145.23V105.51C0.62999 87.96 1.15999 68.64 2.70999 44.84C4.85999 11.82 16.41 0.5 39.45 0.5H129.45H157.56C191.19 0.5 200.68 0.5 212.37 0.5C235.41 0.5 246.96 11.82 249.11 44.85C250.66 68.66 251.19 87.97 251.33 105.52V145.24V145.23Z' /%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='252' height='251' viewBox='0 0 252 251' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23474bff' d='M251.33 145.23C251.19 162.78 250.66 182.1 249.11 205.9C246.96 238.92 235.41 250.25 212.37 250.25C200.68 250.25 191.19 250.25 157.56 250.25H129.45H122.37H39.45C16.41 250.25 4.85999 238.93 2.70999 205.9C1.15999 182.09 0.62999 162.78 0.48999 145.23V105.51C0.62999 87.96 1.15999 68.64 2.70999 44.84C4.85999 11.82 16.41 0.5 39.45 0.5H129.45H157.56C191.19 0.5 200.68 0.5 212.37 0.5C235.41 0.5 246.96 11.82 249.11 44.85C250.66 68.66 251.19 87.97 251.33 105.52V145.24V145.23Z' /%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.projectCards:hover {
  transform: scale(1.05);
  transition: all 0.35s ease;
  cursor: pointer;
}



@media all and (min-width: 435px) {
  .bubble1 {
    -webkit-clip-path: ellipse(140% 75% at 0% 0%);
    clip-path: ellipse(140% 75% at 0% 0%);
  }

  .bubble4 {
    -webkit-clip-path: ellipse(110% 43% at 65% 44%);
    clip-path: ellipse(110% 43% at 65% 44%);
    height: 80rem;
    margin-top: 420rem;
  }

  .banner {
    justify-content: start;
    overflow-x: hidden;
    background-image: url('./../img/bannerImageWide.webp');
    background-position: right;
    background-size: cover;
    height: 10rem;
    width: 100%;
    z-index: 999;
  }

  .logo {
    display: unset;
    width: 9rem;
    align-self: center;
    justify-items: start;
    padding: 5px 0 0 11vw;
    z-index: 9999;
  }
}

@media all and (min-width: 667px) {
  .useRes {
    border-bottom: 1px solid #1b1b1bae;
  }

  .useResHide {
    padding-bottom: 5px;
  }
}

@media all and (min-width: 700px) {
  .bubble2 {
    -webkit-clip-path: ellipse(75% 35% at 87% 55%);
    clip-path: ellipse(75% 35% at 87% 55%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9) 45.76%, rgba(255, 255, 255, 0.95) 65.56%);
    width: 100vw;
    height: 95rem;
    transform: translateY(0rem);
  }

  .bubble3 {
    -webkit-clip-path: ellipse(39% 35% at 18% 35%);
    clip-path: ellipse(39% 35% at 18% 35%);
    width: 100vw;
    height: 80rem;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9) 45.76%, rgba(255, 255, 255, 0.95) 65.56%);
    margin-top: 125rem;
  }

  .bubble4 {
    -webkit-clip-path: ellipse(120% 43% at 65% 44%);
    clip-path: ellipse(120% 43% at 65% 44%);
    height: 80rem;
    margin-top: 161rem;
    }

  .pantryProWrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
    width: 100vw;
  }
  
  .oneInfo {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    padding: 50px 0 22px 5%;
  }
  
  .numberInv {
    color: #C4D1C8;
    text-align: left;
    font-family: Hind;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 7.5px;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
  
  .headersInv {
    color: #001B08;
    font-family: Hind;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin: 0;
  }
  
  #headers {
    padding: 6px 0 0 20px;
  }
  
  .line {
    max-width: 100%;
    color: black;
    background-color: black;
    z-index: 99999;
    grid-row: 2;
    grid-column: 1 / span 3;
  }
  
  .columnOneParagraph {
    padding: 0 5% 0 5%;
  }
  
  .columnTwoParagraph {
    padding: 0 5% 0 5%;
  }
  
  //// Banner ////
  
  .banner {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: start;
    align-self: flex-start;
    overflow-x: hidden;
    z-index: 999;
  }

  .logo {
    align-self: center;
    z-index: 9999;
  }
  
  //// Intro ////
  
  .sectionIntro {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    z-index: 999;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 10%;
  }
  
  .infoYear {
    color: #001B08;
    font-family: Hind;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: capitalize;
    margin: 0;
  }
  
  .introLine {
    max-width: 100%;
  }
  
  #summary {
    padding-bottom: 30px;
  }
  
  .exShotInv {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    row-gap: 2%; 
    padding: 50px 0 25px 0;
    z-index: 999;
  }
  
  .imgInv {
    max-width: 9rem;
    max-height: 100%;
    align-self: center;
  }
  
  #imgInvHide {
    display: none;
  }

  // .problemHeader:after {
  //   content:"The Problem ";
  //   white-space: pre; /* or pre-wrap */
  // }
  .prob1 {
    padding-left: 10%;
  }

  .useResInfo {
    padding: 0px 0 22px 5%;
  }

  .twoSection {
    grid-column: 1 / span 2;
    z-index: 99999;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .usResBlurb {
    grid-column: 1;
    padding: 0 5% 0 10%;
  }
  
  .usResBlurbB {
    grid-column: 2;
    padding: 0 10% 0 5%;
  }

  .site {
    padding: 30px 30px 0 30px;
  }
  
  .siteSection {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .siteMap {
    max-width: 90%;
  }

  .sitePA {
  grid-column: 1;
  padding: 0 5% 10px 10%;
  }

  .sitePB {
    grid-column: 2;
    padding: 15px 10% 0 5%;
  }

  .section3 {
    width: 100vw;
    max-height: 100%;
    -webkit-clip-path: ellipse(95% 50% at 50% 50%);
    clip-path: ellipse(95% 50% at 50% 50%);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    z-index: 99999;
  }

  .usaInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
  }

  .usaPContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .usaHeader {
    grid-column: 1;
    padding: 50px 0 22px 10%;
  }

  .usaLineB {
    display: none;
  }
  
  .siteUSA {
    padding: 15px 5% 5px 10%;
  }
  
  .siteUSSpanA {
    display: none;
  }
  
  .siteUSB {
    grid-column: 2;
    padding: 15px 10% 5px 5%;
  }

  .section3b {
    max-width: 100%;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  //// Landing Page Iterations ////

  .section5HeaderContainer {
    grid-column: 1 / span 2;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

  #desDetails {
    padding: 50px 0 22px 5%;
  }
  
  .invImgSec {
    padding: 15px 0 0 5vw;
  }

  .section4Img {
    grid-column: 1/ span 2;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    padding: 2rem .5rem 0 .5rem;
  }
  
  .section4Caption {
    padding-top: 1.5rem;
  }

  .fourImg {
    max-width: 16%;
    max-height: auto;
    align-self: center;
    padding-bottom: 0;
  }

  .section5 {
    grid-column: 1 / span 2;
    z-index: 9999;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .sec5P {
    grid-column: 1;
    grid-row: 3;
    padding: 30px 0 0 10%; 
  }

  .invImgContainer {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
  }
  
  .invImg {
    max-width: 35%;
    max-height: 100%;
    padding: 5px 0 0 0;
  }

  .secUiKit {
    grid-column: 1 / span 2;
    z-index: 9999;
  }
  
  #desKit {
    text-align: start;
    padding: 60px 0 10px 5%;
  }
  
  .uiKitContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    align-content: center;
    justify-items: center;
    padding: 25px 5% 0 5%;
  }
  
  .uiImg {
    max-width: 95%;
    height: auto;
    align-self: center;
  }
  
  #kit1 {
    max-width: 85%;
    align-self: end;
    justify-self: end;
    padding-right: 5%;
  }
  
  #kit2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;
  }
  
  #kit7 {
    grid-column: 2;
    grid-row: 3;
  }
  
  #kit4 {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    max-width: 95%;
  }
  
  #kit5 {
    grid-column: 3;
    grid-row: 3;
    max-width: 90%;
    align-self: start;
    justify-self: center;
    transform: translateY(-28%);
  }
  
  #kit3 {
    grid-column: 1;
    grid-row: 3;
    padding-bottom: 9px;
    max-width: 90%;
  }
  
  #kit6 {
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: start;
    max-width: 100%;
    padding-top: 13px;
    transform: translateY(18%);
  }

  .finalSectionImg {
    grid-column: 1 / span 2;
    justify-self: center;
    max-width: 95%;
    padding-top: 4rem;
  }

  .refInfo {
    padding: 50px 0 22px 10%;
  }
    
  #blurb1 {
    padding-top: 30px;
  }

  .columnOneParagraph {
    grid-column: 1;
    padding: 0 5% 0 10%;
  }
  
  .columnTwoParagraph {
    grid-column: 2;
    padding: 0 10% 0 5%;
  }

  .addInfo {
    grid-column: 1 / span 2;
    padding: 50px 0 10rem 0;
  }

  .addInfoColContainer {
    max-width: 100%;
    padding: 40px 0 12px 5%;
  }

  .bubble1 {
    -webkit-clip-path: ellipse(79% 97% at 16% 0%);
    clip-path: ellipse(79% 97% at 16% 0%);
    width: 52rem;
    height: 39rem;
  }

  .sectionWrapperVideo {
    flex-direction: row;
  }
}

@media all and (min-width: 840px) {
  .bubbles {
    grid-column: 1 / span 2;
  }

  .bubble2 {
    -webkit-clip-path: ellipse(55% 35% at 75% 52%);
    clip-path: ellipse(55% 33% at 75% 52%);
  }

  .bubble4 {
    -webkit-clip-path: ellipse(120% 43% at 65% 44%);
    clip-path: ellipse(65% 43% at 65% 44%);
    margin-top: 180rem;
  }

  .pantryProWrapper {
    grid-column: 1 / span 2;
  }

  .exShotInv {
    gap: 4%;
  }

  .siteMap {
    max-width: 78%;
  }

  .section4Img {
    padding: 3rem .5rem 0 .5rem;
  }

  .imgInv {  
    max-width: 10.8rem;
    max-height: 100%;
  }
}

@media all and (min-width: 900px) {
  .bubble4 {
    -webkit-clip-path: ellipse(60% 43% at 65% 44%);
    clip-path: ellipse(60% 43% at 65% 44%);
    margin-top: 200rem;
  }
}

@media all and (min-width: 1024px) {
  .bubble1 {
    -webkit-clip-path: ellipse(65% 100% at 16% 0%);
    clip-path: ellipse(65% 100% at 16% 0%);
    width: 100vw;
    height: 47.5rem;
  }

  .bubble3 {
    -webkit-clip-path: ellipse(42% 40% at 9% 48%);
    clip-path: ellipse(42% 40% at 9% 44%);
    height: 78rem;
    margin-top: 86rem;
  }

  .bubble4 {
    -webkit-clip-path: ellipse(60% 43% at 65% 44%);
    clip-path: ellipse(58% 43% at 60% 44%);
    margin-top: 210rem;
  }

  .banner {
    grid-column: 1 / span 3;
    height: 13rem;
  }

  .logo {
    width: 12rem;
  }

  .pantryProWrapper {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    min-height: 200px;
  }

  .sectionIntro {
    padding-top: 30px;
  }

  .oneInfo {
    padding: 80px 0 22px 10%;
  }

  .line {
    grid-column: 1 / span 3;
  }

  .columnOneParagraph {
    padding: 0 0 0 20%;
  }

  .info {
    padding: 30px 0 0 20%;
  }

  .exShotInv {
    grid-column: 2 / span 2;
    row-gap: 4%; 
    padding: 60px 60px 30px 60px;
  }

  .imgInv {  
    max-width: 30%;
    max-height: 100%;
  }

  #imgInvHide {
    display: unset;
  }

  //// Problem Section ////

  .section1 {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .prob1 {
    padding: 0 0 0 20%;
  }

  .blOneB {
    display: none;
  }

  .prob2 {
    display: unset;
    grid-column: 2;
    padding: 0 8% 0 7%;
    z-index: 9999;
  }

  .blThreeB {
    display: none;
  }
  
  .prob3 {
    grid-column: 3;
    padding: 0 20% 0 0%;
  }
  
  //// User Research ////
  .useResHide {
    display: none;
  }
  
  .twoSection {
    grid-column: 3;
    display: unset;
  }

  .twoSectionHide {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #1b1b1bae;
  }

  .twoSectionHide svg {
    max-width: 100%;
    width: 100%;
  }

  .usResBlurb, .usResBlurbB {
    padding: 0 20% 0 0;
    grid-column: 3;
  }

  .siteSection {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .site {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    padding-bottom: 50px;
  }

  .sitePA {
    grid-column: 1;
    padding: 10px 0 40px 20%;
  }

  .sitePAHide {
    display: unset;
  }
  
  .sitePB {
    display: none;
    grid-column: 1;
    padding: 10px 0 0 20%;
  }

  element .sitePB {
    padding-top: 0;
  }
  
  .siteMap {
    align-self: center;
    max-width: 100%;
  }

  //// usability study ////

  .section3 {
    max-height: 48rem;
    -webkit-clip-path: ellipse(85% 50% at 50% 50%);
    clip-path: ellipse(85% 50% at 50% 50%);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    padding-bottom: 80px;
  }

  .threeBlurb {
    padding-top: 60px;
    justify-content: start;
  }

  .threeBlurb {
    padding-top: 0;
  }
  
  .usaInfo {
    display: flex;
    flex-direction: column;
  }
  
  .usaHeader {
    padding: 20px 0 22px 20%;
  }
  
  .usaPContainer {
    display: flex;
    flex-direction: column;
  }
  
  .usaLineA {
    display: none;
  }

  .usaLineB {
    display: unset;
  }
  
  .siteUSA {
    padding: 15px 0 0 20%;
  }
  
  .siteUSSpanA {
    display: unset;
  }

  .siteUSSpanB {
    display: none;
  }
  
  .siteUSB {
    padding: 0 0 5px 20%;
  }

  #usaBlurbWide {
    padding-top: 20px;
  }

  .section3b {
    grid-column: 2 / span 2;
    padding-top: 30px;
  }

  .section4Img {
    grid-column: 1/ span 3;
    padding-top: 50px;
  }

  .section4Caption {
    grid-column: 1 / span 3;
  }

    ///// Invoice ////

  .section5HeaderContainer {
    grid-column: 1 / span 3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    z-index: 9999;
  }

  .sec5HeadRow {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    max-width: 100%;
  }
  
  #desDetails {
    grid-column: 1 / span 2;
    padding: 50px 0 22px 10%;
  }

  #desKitB {
    display: none;
  }
  
  .sec5Line {
    max-width: 100%;
    max-height: 100%;
  }

  .section5 {
    grid-column: 1 / span 3;
    z-index: 9999;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  .invImgSec {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    max-width: 100%;
    max-height: 100%;
  }

  .invVidCap {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }

  .sec5P {
    grid-column: 1;
    grid-row: 1;
    padding: 30px 0 0 20%; 
  }

  .invImgContainer {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    max-width: 100%;
    justify-content: center;
    align-content: end;
    padding: 15px 0 0 5%;
    transform: translateX(10%);
  }

  .invImg {
    max-width: 50%;
    max-height: 100%;
    align-self: center;
    justify-self: end;
    padding: 5px 0 0 0;
  }

  //// UI Kit ////

  .secUiKit {
    grid-column: 1 / span 3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  #desKit {
    text-align: start;
    padding: 80px 0 10px 5%;
  }

  .uiKitContainer {
    display: grid;
    align-self: center;
    max-width: 80%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    align-content: center;
    justify-items: center;
    padding: 25px 5% 0 5%;
  }

  .uiImg {
    max-width: 95%;
    height: auto;
    align-self: center;
  }

  #kit1 {
    max-width: 85%;
    align-self: end;
    justify-self: end;
    padding-right: 5%;
  }

  #kit2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;
    
  }

  #kit7 {
    grid-column: 2;
    grid-row: 3;
  }

  #kit4 {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    max-width: 95%;
  }

  #kit5 {
    grid-column: 3;
    grid-row: 3;
    max-width: 90%;
    align-self: start;
    justify-self: center;
    transform: translateY(-28%);
  }

  #kit3 {
    grid-column: 1;
    grid-row: 3;
    padding-bottom: 9px;
    max-width: 90%;
  }

  #kit6 {
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: start;
    max-width: 100%;
    padding-top: 13px;
    transform: translateY(18%);
  }

  .finalSectionImg {
    grid-column: 1 / span 3;
    max-width: 80%;
    padding-top: 5rem;
  }

  //// Conclusion ////

  .refInfo {
    padding: 50px 0 22px 20%;
  }

  .addInfo {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .addInfoColContainer {
    grid-column:  1 / span 2;
    padding: 40px 0 22px 10%;
  }
} 

@media all and (min-width: 1200px) {
  .bubble2 {
    -webkit-clip-path: ellipse(45% 33% at 65% 50%);
    clip-path: ellipse(45% 33% at 65% 50%);
  }

  .bubble3 {
    -webkit-clip-path: ellipse(33% 40% at 5% 38%);
    clip-path: ellipse(33% 40% at 5% 38%);
    height: 78rem;
    margin-top: 86rem;
  }

  .bubble4 {
    -webkit-clip-path: ellipse(55% 45% at 58% 46%);
    clip-path: ellipse(55% 45% at 58% 46%);
    margin-top: 198rem;
    height: 85rem;
  }

  .siteMap {
    align-self: center;
    max-width: 48rem;
  }

  .invImg {    
    max-width: 45%;
    max-height: 100%;
    padding: 0 0 0 0;
    align-self: center;
  }
  
  .section4 {
    gap: 3%;
  }

  .fourImg {
    max-width: 12rem;
  }

  .section5 {
    grid-column: 1 / span 2;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .imgInv {
    width: 13.5rem;
    max-height: auto;
  }

  .sec5P {
    grid-column: 1;
    padding: 30px 0 0 20%;
    transform: translateX(0%);
  }

  .invImgContainer {
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    padding: 15px 0 0 20%;
    transform: translateX(0%);
  }

  .invImgSec {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-content: start;
    align-items: center;
    transform: translateX(0%);
  }

  #desKitB {
    display: unset;
    padding: 50px 20% 22px 0;
    justify-self: end;
  }

  .secUiKit {
    grid-column: 3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .uiKitContainer {
    align-self: center;
    max-width: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-content: center;
    justify-items: center;
    padding: 35px 0 0 0;
    transform: translateX(-15%);
  }

  .uiImg {
    max-width: 100;
    height: auto;
    align-self: center;
  }

  #kit1 {
    grid-column: 1;
    grid-row: 1;
    max-width: 85%;
    align-self: end;
    justify-self: end;
    padding-right: 5%;
  }

  #kit2 {
    grid-column: 2;
    align-self: start;
    max-height: 100%;
  }

  #kit7 {
    grid-column: 2;
    transform: translateY(-18%);
  }

  #kit4 {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    max-width: 95%;
  }

  #kit5 {
    grid-column: 2;
    grid-row: 4;
    max-width: 90%;
    align-self: start;
    justify-self: center;
    transform: translateY(-30%);
  }

  #kit3 {
    grid-column: 1;
    grid-row: 4;
    padding-bottom: 9px;
    max-width: 90%;
  }

  #kit6 {
    grid-column: 1;
    grid-row: 3;
    align-self: start;
    max-width: 100%;
    padding-top: 10px;
    transform: translateY(0%);
  }

  .kitHeaderContainer {
    display: none;
  }

  .finalSectionImg {
    grid-column: 1 / span 3;
    max-width: 65rem;
    padding-top: 5rem;
  }
} 

@media all and (min-width: 1350px) {
  .bubble3 {
    -webkit-clip-path: ellipse(30% 40% at 7% 40%);
    clip-path: ellipse(30% 40% at 7% 40%);
  }
}

@media all and (min-width: 1440px) {
  .bubble2 {
    -webkit-clip-path: ellipse(50% 33% at 70% 50%);
    clip-path: ellipse(38% 30% at 70% 47%);
  }

  .bubble3 {
    -webkit-clip-path: ellipse(33% 40% at 4% 45%);
    clip-path: ellipse(33% 40% at 4% 45%);
    height: 90rem;
  }

  .section3 {
    height: 60rem;
    -webkit-clip-path: ellipse(70% 50% at 50% 50%);
    clip-path: ellipse(70% 50% at 50% 50%);
  }

  .threeBlurb {
    padding-top: 60px;
  } 
}

@media all and (min-width: 1800px) {
  #kit8,
  #kit6 {
    max-width: 88%;
  }
}
