.pantryProWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    

  display: grid;
  grid-template-columns: minmax(0, 1.3fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  
  width: 100vw;
  min-height: 200px;
}

.topBar {
  display: flex;
  align-items: end;
  grid-column: 1 / span 3;
  width: 100vw;
}

.logo {
  position: absolute;
  width: 200px;
  align-self: center;
  padding: 5px 0 0 68px;
  z-index: 9999;
}

.banner {
  display: flex;
  justify-content: end;
  align-self:flex-start;
  overflow-x: hidden;
  z-index: 999;
}

.sectionIntro {
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.intro {
  padding: 80px 33px 20px 42px;
  overflow-x: hidden;
  color: black;
  text-align: right;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  letter-spacing: 3px;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: row;
  max-width: 480px;
  padding: 30px 0 0 43px;
}

.infoYear {
  color: #001B08;
  text-align: right;
  font-family: Hind;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 116.667% */
  letter-spacing: 3px;
  padding: 0 0 0 50px;
  margin: 0;
  white-space: pre-wrap;
}

.year {
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 3.6px;
}

.infoBlurb {
  width: auto;
  color: #001B08;
  font-family: Inconsolata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  padding: 0 0 0 53px;
  margin: 0;
}

.exShotInv {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  z-index: 999;
}

.imgInv {
  width: 13.5rem;
}

.section1 {
  grid-column: 1 / span 3;
  z-index: 9999;
}

.oneInfo {
  display: flex;
  flex-direction: row;
  padding: 50px 0 22px 95px;
}

.numberInv {
  color: #C4D1C8;
  text-align: left;
  font-family: Hind;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 56% */
  letter-spacing: 7.5px;
  text-transform: capitalize;
}

.headersInv {
  color: #001B08;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
}

#headers {
  padding: 6px 0 0 20px;
}

.line {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
}

#blurb1 {
  color: #001B08;
  font-family: Inconsolata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  width: 22rem;
  margin: 0;
  padding-top: 30px;
  z-index: 9999;
}

.blOne {
  grid-column: 1;
  padding-left: 200px;
}

.blTwo {
  grid-column: 2;
  transform: translateX(7%);
}

.blThree {
  grid-column: 3;
}

.twoBlurb {
  grid-column: 3;
  z-index: 99999;
}

#userResHead {
  padding-top: 5rem;
}

.problem {
  padding-top: 30px;
}

.site {
  grid-column: 2 / span 2;
  max-width: 53rem;
  max-height: 38rem;
  height: auto;
  z-index: 9999;
}

.siteMap {
  min-width: 100%;
  min-height: 100%;
}

.section3 {
  width: 100vw;
  height: 814px;
  clip-path: ellipse(65.58% 50.01% at 49.33% 49.99%);
  -webkit-clip-path: ellipse(65.58% 50.01% at 49.33% 49.99%);
  background-color: white;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.img3 {
  max-height: 35rem;
}

.section4 {
  padding-top: 5rem;
}

.section4Img {
  grid-column: 1/ span 2;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding-right: 2rem;
}

.section4Img img, .sec4LastImg, .detailsImg img  {
  max-width: 13rem;
  height: auto;
}

#usaStdy {
  padding-top: 10rem;
}

.section4ImgB {
  grid-column: 1/ span 2;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding-right: 2rem;
}

.section4B {
  padding-top: 2rem;
}

#desDetails {
  padding: 7rem 0 0 95px;
  z-index: 99999;
}

#desKit {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  padding: 7rem 95px 0 0;
  z-index: 99999;
}

#lineDes {
  padding-top: 20px;
  z-index: 99999;
}

.section5 {
  grid-column: 1;
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  z-index: 99999;
}

.detailsImg {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 30px;
}

.section5B {
  grid-column: 2 / span 2;
  // padding: 30px 95px 0 0;
  z-index: 99999;
  width: 100%;
  height: 105%;
  display: flex;
  justify-content: flex-end;
}

.bImg {
  padding: 5rem 95px 0 0;

}

.finalSection {
  grid-column: 1 / span 3;
  justify-self: center;
  width: 70rem;
  padding-top: 8rem;
  z-index: 99999;
}


.finalOne {
  grid-column: 1 /span 3;
  padding: 0 0 0 200px;
}

.addInfo {
  grid-column: 1 / span 3;
  padding-bottom: 10rem;
}

// --- Bubbles ---

.bubbles {
  position: relative;
  min-height: 100rem;
}

.bubble1 {
  clip-path: ellipse(48.76% 65.22% at 21.21% -2.53%);
  -webkit-clip-path: ellipse(50.24% 85.49% at 22.18% 14.11%);
  background-color: white;
  width: 100%;
  height: 100vh;
}

.bubble2 {
  clip-path: ellipse(46.79% 35.61% at 81.63% 52.27%);
  -webkit-clip-path: ellipse(46.79% 35.61% at 81.63% 52.27%);
  background-color: white;
  width: 100%;
  min-height: 100%;
  position: absolute;
  transform: translateY(-45%);
}

.bubble3 {
  clip-path: ellipse(41.22% 34.32% at 81.56% 44.43%);  
  -webkit-clip-path: ellipse(41.22% 34.32% at 81.56% 44.43%);  
  background-color: white;
  width: 100%;
  min-height: 100%;
  position: absolute;
  transform: translateY(195%);
}