
// mobile/base
.pastWorkWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    
  grid-column: 2;
  min-height: 100%;
}

.pageHeader {
  color: rgba(187, 203, 192, 0.81);
  text-align: right;
  font-family: Hind;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; 
  letter-spacing: 7px;
  opacity: 75%;
  margin: 0;
  position: fixed;
  right: -4px;
  top: -4px;
}

.bubbles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.bubbles section {
  min-height: fit-content;
  overflow: hidden;
  justify-content: center;
}

.bubbleShape {
  display: grid;
  grid-template-columns: auto;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.68) 45.76%, rgba(255, 255, 255, 0.85) 65.56%);  
  clip-path: ellipse(135% 50% at 50% 50%);
  margin-bottom: 3rem;
  align-self: center;
  justify-self: center;
  justify-content: center;
  width: 100%;
  padding: 90px 0 75px 0;
  overflow-x: hidden;
}

.bubbleShape:first-child {
  margin-top: 6rem;
}

.headerContainer {
  grid-column: 1;
  grid-row: 1;
  width: 86vw;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #1b1b1bae;
  padding: 0 0 20px 0;
  margin-bottom: 8px;
  align-self: end;
  justify-self: center;
  // padding: 0 30px 17px 30px;
}

.number {
  grid-column: 1;
  align-self: end;
  color: rgba(187, 203, 192, 0.81);
  font-size: 50px;
  letter-spacing: 4.8px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 1.1px;
  opacity: 90%;
  margin-right: auto;
}

.headers {
  align-self: end;
  grid-column: 2;
  color: #001B08;
  text-align: right;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: 3.6px;
  text-transform: capitalize;
  margin: 0;
}

.headers .blocked {
  display: block;
}

.blurb {
  grid-column: 1;
  grid-row: 3;
  color: #001B08;
  font-family: Inconsolata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0 30px;
  align-self: start;
  justify-self: center;
}

.imgStyle {
  grid-column: 1;
  grid-row: 2;
  width: 100vw;
  justify-self: center;
  align-self: center;
  object-fit: contain;
  padding: 20px 0 18px 0;
}

#graphStyle {
  padding: 6px 0 5px 0;
}

#bsStyle {
  padding: 18px 0 14px 0;
}


@media all and (min-width: 500px) {
  .pageHeader {
    font-size: 48px;
    letter-spacing: 7px;
    top: -1px;
  }

  .bubbleShape {
    clip-path: ellipse(115% 50% at 50% 50%);
  }
}

@media all and (min-width: 550px) {
  .headerContainer {
    width: 31rem;
    margin-bottom: 0px;
  }

  .blurb {
    width: 31rem;
  }

  .imgStyle {
    width: 35rem;
  }
}

@media all and (min-width: 700px) {
  .bubbles {
    width: calc(100vw - 150px);
  }

  .bubbleShape {
    grid-template-columns: auto;
  }

  .headerContainer {
    width: 31rem;
    justify-self: center;
  }

  .blurb {
    grid-row: 3;
    width: 31rem;
    padding: 0 5rem;
  }

  .imgStyle {
    width: 35rem;
  }
}

// desktop
@media all and (min-width: 1024px) {
  .bubbles section {
    min-height: 550px;
    align-content: center;
  }

  .bubbleShape {
    grid-template-columns: 21.16rem 1fr; 
    grid-template-rows: repeat(3, 1fr);
    clip-path: ellipse(75% 50% at 50% 50%);
    padding: 60px 0 60px 0;
  }

  .headerContainer {
    width: auto;
    justify-self: unset;
    padding: 40px 0 17px 0;
  }

  .blurb {
    width: auto;
    justify-self: end;
    padding: 20px 0 0 0;
  }

  .imgStyle {
    grid-row: 1 / 4;
    grid-column: 2;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    // transform: translateX(-.75rem);

  }
  
  #graphStyle {
    width: 103%;
    transform: translateX(-.75rem);
  }

  .headerContainer {
    height: 8rem;
  }

  .number {
    padding-left: 20px;
  }

  .blurb {
    grid-row: 2;
    width: 19.4rem;
  }
}

@media all and (min-width: 1200px) {
  .bubbles section {
    min-height: 625px;
  }

  .bubbleShape {
    grid-template-columns: 28.25vw 1fr; 
  }
}

// desktop wide
@media all and (min-width: 1270px) {
  
  .bubbles {
    width: calc(100vw - 225px);
  }

  .bubbles section {
    min-height: 650px;
  }
}

@media all and (min-width: 1400px) {
  .bubbleShape {
    grid-template-columns: 24.75rem 1fr; 
    padding: 60px 0 60px 0;
    clip-path: ellipse(75% 50% at 50% 50%);
  }
}