// .graphicDesignStyle {
//   width: 100vw;
//   height: 100vh;
//   font-size: 4em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
// }


// mobile/base
.pastWorkWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    

  display: flex;
  flex-direction: column;
  position: relative;
  // font-size: 4em;
  // margin-left: 6rem;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 80px;
  left: 6rem;
  min-height: 100vh;
  flex: 1 0 auto;
}

.pastWorkWrapper section {
  position: relative;
  min-height: 700px;
}

.bubble {
  content: "";
  margin: 0 0 0 40px;
  // justify-items: center;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  position: absolute;
  bottom: 0;
  width: 150%;
  height: 800px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 68%;
  background-size: 45rem;

}

.bubbleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 57vw;
  justify-items: center;
  padding-top: 3rem;
}

.headers {
  align-self: flex-end;
  padding: 40px 0 0 0;
  color: #001B08;
  text-align: right;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: 3.6px;
  text-transform: capitalize;
}

.headers span {
  display: block;
}

.bubbleContent svg {
  // stroke-width: 2px;
  // stroke: #001B08;
  align-self: flex-end;
}

.blurb {
  align-self: flex-end;
  width: 301px;
  padding-top: 12px;
}

.bubbleContent p {
  color: #001B08;
  font-family: Inconsolata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.cbLogo {
  background: url("./../img/chowburgerlogo.svg") white 0px 0px / 100% 100% no-repeat;
  width: 170px;
  height: 83px;
  position: relative;
  left: 18vw;
  padding-top: 46px;
}

.bsLogo {
  background: url("./../img/bellysanlogo.svg") white 0px 0px / 100% 100% no-repeat;
  width: 270px;
  height: 72px;
  position: relative;
  left: 18vw;
  padding-top: 46px;
}

.okLogo {
  width: 270px;
  height: 72px;
  position: relative;
  left: 21vw;
  padding-top: 10px;
}

.brandDev {
  background-image: url("./../img/chowburgerbundle.png");
}

.logoDesign {
  background-image: url("./../img/bellysanbundle.png");
}

.patternEngineer {
  background-image: url("./../img/patterntechbundle.png");
}

.teaching {
  background-image: url("./../img/teachingbundle.png");
}

// mobile landscape
@media all and (min-width: 667px) {
  .pastWorkWrapper {
    flex: 3 0px;
  }

}

// tablet
@media all and (min-width: 768px) {
  // .tanWrapper {
  //   max-width: 80%;
  // }
}

// desktop
@media all and (min-width: 1024px) {
  .pastWorkWrapper {
    // max-width: 50%;
    // flex: 1 100%;
  }
}

// desktop wide
@media all and (min-width: 1200px) {
  .bubble {
    background-position: 55rem;
    background-size: 50rem;
  }
}