
// mobile/base
.projectsWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    

  display: flex;
  flex-direction: column; 
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pageHeader {
  // display: flex;
  color: rgba(187, 203, 192, 0.81);
  text-align: right;
  font-family: Hind;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 70% */
  letter-spacing: 7px;
  opacity: 75%;
  // align-self: flex-end;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

.bubbleSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 3rem;
  clip-path: ellipse(75% 50% at 50% 50%);
  // clip-path: ellipse(65.58% 50.01% at 42.23% 50.11%);
}

.bubbleCard {
  display: grid;
  height: 100%;
  justify-content: center;
  margin-bottom: 3rem;
  clip-path: ellipse(135% 50% at 50% 50%);
  padding: 85px 0;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.68) 45.76%, rgba(255, 255, 255, 0.85) 58.56%);  
}

.bubbleSelect {
  margin-top: 6rem;
  padding: 0 0 3rem 0;
  background: linear-gradient(45deg, rgba(246, 244, 244, 0.85) 45.76%, rgba(246, 244, 244, 0.95) 58.56%);  
}

.bubbleCard:first-child {
  margin-top: 6rem;
}

.bubbleContent {
  display: flex;
  flex-direction: column;
}

.bubbleHeader {
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 30px;
  gap: 2rem;
}

.header {
  color: #222222;
  font-family: Hind;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: capitalize;
}

h2.header {
  margin: 0 0 15px 0;
}

.projectDescription {
  display: flex;
  flex-direction: row;
}

.descCol1, .descCol1B {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.descCol1 {
  grid-row: 3;
}

.descCol1B {
  grid-row: 4;
  padding-top: 30px;
}

h4.bubbleHeader2 {
  color: rgba(162, 174, 166, 0.97);
  // opacity: 95%;
  text-align: left;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0;
}

a.github {
  color: #52a3da;
  // opacity: 95%;
  text-align: left;
  font-family: Hind;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 2.4px;
  margin: 0;
  padding: 40px 0 0 0;
  pointer-events: all;
  text-decoration: none;
  align-self: center;
}

p.bubbleSubHead {
  color: #1b1b1be2;
  font-family: Hind;
  font-size: .9em;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 200% */
  letter-spacing: 2.4px;
  margin: 0;
  white-space: nowrap;
  padding-top: 10px;
  text-align: center;
}

.descCol2 {
  grid-row: 5;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
}

p.blurb {
  color: #001B08;
  font-family: Inconsolata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}

.picture {
  grid-row: 2;
  filter: drop-shadow(-3px 6px 12px rgba(0, 27, 8, 0.45));
  z-index: 9999;
  padding-top: 20px;
  margin-bottom: 20px;
}

.picture a, .picture {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bubbles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0 40px 0;
  gap: 3.5em;
  overflow-x: hidden;
  position: absolute;
}

.bubbleShape {
  display: flex;
  flex-direction: row;
  gap: 4em;
  background-color: white;
  width: 100%;
  padding: 60px 0 60px 0;
  clip-path: ellipse(65.58% 50.01% at 42.23% 50.11%);
}

.projectCard {
  width: 411px;
  min-height: 263px;
  background-color: pink;
}

.imgMask, .imgMaskPort {
  object-fit: contain;
  width: 85vw;
  // min-height: 445px;
  aspect-ratio: 1/1;
  // min-width: 100%;
  // height: 100%;
  mask-image: url("data:image/svg+xml,%3Csvg width='252' height='251' viewBox='0 0 252 251' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23474bff' d='M251.33 145.23C251.19 162.78 250.66 182.1 249.11 205.9C246.96 238.92 235.41 250.25 212.37 250.25C200.68 250.25 191.19 250.25 157.56 250.25H129.45H122.37H39.45C16.41 250.25 4.85999 238.93 2.70999 205.9C1.15999 182.09 0.62999 162.78 0.48999 145.23V105.51C0.62999 87.96 1.15999 68.64 2.70999 44.84C4.85999 11.82 16.41 0.5 39.45 0.5H129.45H157.56C191.19 0.5 200.68 0.5 212.37 0.5C235.41 0.5 246.96 11.82 249.11 44.85C250.66 68.66 251.19 87.97 251.33 105.52V145.24V145.23Z' /%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='252' height='251' viewBox='0 0 252 251' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23474bff' d='M251.33 145.23C251.19 162.78 250.66 182.1 249.11 205.9C246.96 238.92 235.41 250.25 212.37 250.25C200.68 250.25 191.19 250.25 157.56 250.25H129.45H122.37H39.45C16.41 250.25 4.85999 238.93 2.70999 205.9C1.15999 182.09 0.62999 162.78 0.48999 145.23V105.51C0.62999 87.96 1.15999 68.64 2.70999 44.84C4.85999 11.82 16.41 0.5 39.45 0.5H129.45H157.56C191.19 0.5 200.68 0.5 212.37 0.5C235.41 0.5 246.96 11.82 249.11 44.85C250.66 68.66 251.19 87.97 251.33 105.52V145.24V145.23Z' /%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.imgMask:hover {
  transform: scale(1.02);
  transition: all 0.25s ease;
}

.arrowContainer {
  margin-top: 5px;
}

.arrowContainer:hover {
  transform: scale(1.2);
  transition: all 0.35s ease;
}

.arrowContainer svg {
  pointer-events: all;
  cursor: pointer;
}

@media all and (min-width: 500px) {
  .bubbleCard {
    grid-template-columns: 50vw 50vw;
    clip-path: ellipse(115% 50% at 50% 50%);
  }

  .picture {
    grid-column: 1 / span 2;
  }

  .imgMask, .imgMaskPort {
    width: 80vw;
  }

  .descCol1 {
    grid-column: 1;
    width: 39vw;
    justify-self: end;
    align-items: start;
    padding-left: 15vw;
  }

  .descCol1B {
    grid-column: 2;
    grid-row: 3;
    width: 31vw;
    align-items: start;
    padding-right: 10vw;
    padding-left: 6vw;
    padding-top: 20px;
  }

  .descCol2 {
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 80vw;
    padding: 20px 0 0 0;
    justify-self: center;
  }

  p.bubbleSubHead {
    text-align: left;
    padding-top: 15px;
  }
}

// mobile landscape
@media all and (min-width: 700px) {
  .projectsWrapper {
    flex: 3 0px;
    width: 100%;
    max-width: 100%;
  }

  .bubbleCard {
    grid-template-columns: auto auto;
  }

  .bubbleHeader {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .picture {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 100%;
  }

  .imgMask, .imgMaskPort {
    width: 445px;
  }

  .descCol1 {
    width: 222.5px;
    justify-self: end;
  }

  .descCol1B {
    grid-column: 2;
    grid-row: 3;
    width: 222.5px;
    transform: translateX(25px);
  }

  .descCol2 {
    width: 445px;
  }

}

// tablet
@media all and (min-width: 775px) {

}

// desktop
@media all and (min-width: 1024px) {
  .bubbleCard {
    grid-template-columns: auto 1fr;
    clip-path: ellipse(75% 50% at 50% 50%);
    padding: 85px 6vw 85px 6vw;
  }

  .picture {
    grid-row: 1 / span 3;
    grid-column: 1;
    padding-left: 0;
    padding-top: 0;
    max-width: max-content;
    margin-bottom: 0;
  }

  .picture a, .picture {
    justify-content: flex-end;
  }

  .picture a img, .picture img {
    // width: 400px;
    // height: 400px;
  }

  .bubbleHeader {
    grid-column: 2;
    border-bottom: 1px solid #1b1b1bae;
    width: 100%;
    padding: 0 0 0 30px;
    align-items: flex-end;
    transform: translateX(-10px);
  }

  h2.header {
    margin: 0 25px 15px 0;
  }

  .arrowContainer {
    margin: 0 0 18px auto;
    justify-items: flex-end;
  }

  .descCol1 {
    grid-column: 2;
    grid-row: 2;
    padding-left: 0;
    justify-self: unset;
  }

  .descCol1B {
    grid-row: 3;
    padding-top: 0;
    transform: translateX(0px);
  }

  .descCol2 {
    grid-row: 4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: auto;
  }

  h4.bubbleHeader2 {
    padding-left: 2vw;
  }

  p.bubbleSubHead {
    padding-left: 2vw;
  }

  #ux {
    padding: 15px 0 30px 2vw;
  }

  #tech {
    padding-bottom: 6px;
  }

  p.blurb {
    padding: 0;
  }

  a.github {
    align-self: unset;
    padding-top: 18px;
  }
}

// desktop mid
@media all and (min-width: 1200px) {
  .bubbleCard {
    grid-template-columns: auto 0.764fr 1.236fr;
    padding: 85px 35px 85px 35px;
  }

  .picture {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 400px;
    min-height: 400px;
  }

  .bubbleHeader {
    grid-column: 2 / span 2;
    grid-row: 1;
    padding-left: 45px;
    align-items: end;
  }

  h2.header {
    margin: 0 0 15px 0;
  }

  .arrowContainer {
    margin: 0 50px 15px auto;
  }

  h4.bubbleHeader2 {
    padding-left: 36px;
  }

  p.bubbleSubHead {
    padding-left: 36px;
  }

  #ux {
    padding: 15px 0 30px 36px;
  }

  .descCol2 {
    grid-column: 3;
    grid-row: 2;
    padding: 20px 15px 0 15px;
  }

  p.blurb {
    padding: 0;
  }
}

// desktop wide
@media all and (min-width: 1400px) {
  .bubbleCard {
    padding: 85px 60px;
  }
  
  .picture {
    width: 445px;
    min-height: 445px;
  }

  .picture a img, .picture img {
    width: 445px;
    height: 445px;
  }

  // .bubbleHeader {
  //   padding-left: 54px;
  // }

  // h4.bubbleHeader2 {
  //   padding-left: 50px;
  // }

  // p.bubbleSubHead {
  //   padding-left: 50px;
  // }

  // #ux {
  //   padding: 15px 0 30px 50px;
  // }

  // .descCol2 {
  //   width: 25rem;
  // }

  // p.blurb {
  //   padding: 0 0 0 50px;
  // }
}