// .graphicDesignStyle {
//   width: 100vw;
//   height: 100vh;
//   font-size: 4em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
// }

// mobile/base
.resumeWrapper {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 225px;
  background: #E8ECEA;
  flex: 1 0 auto;
  
}

.pageHeader {
  // display: flex;
  color: rgba(187, 203, 192, 0.81);
  text-align: right;
  font-family: Hind;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 70% */
  letter-spacing: 7px;
  opacity: 75%;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.resumeContainer {
  height: 100%;
  width: 100%;
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.resumeContainer img {
  height: auto;
  width: 55vw;
}

// mobile landscape
@media all and (min-width: 667px) {
  .resumeWrapper {
    flex: 3 0px;
  }

}

// tablet
@media all and (min-width: 768px) {
  // .tanWrapper {
  //   max-width: 80%;
  // }
}

// desktop
@media all and (min-width: 1024px) {
  .resumeWrapper {
    // max-width: 50%;
    // flex: 1 100%;
  }
}

// desktop wide
@media all and (min-width: 1200px) {

}