.oneCarousel {
  grid-column: 1 / span 2;
  justify-self: center;
  max-width: 90%;
  z-index: 9999;
  padding: 30px 15px 0 0;
}

.carouselContent {
  width: 37rem;
  height: 41.5rem;
  border-radius: 10px;
  border: 17px solid #B9A99D;
  background: #FFF;
  display: flex;
  flex-direction: column;
}

.carouselHead {
  color: #A29286;
  text-align: center;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 104.167% */
  letter-spacing: 14.4px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;
}

//////// pain points ////////

.painPoints {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  padding: 1rem 2rem 0 2rem;
  column-gap: 2rem;
  row-gap: 1rem;
}

.ppColumn {
  display: flex;
  flex-direction: column;
}

.ppNarrowRow {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  max-height: 5.5rem;
  align-items: center;
  padding-bottom: 10px;
}

.ppNum {
  // width: 144px;
  // height: 97px;
  color: rgba(185, 169, 157, 0.30);
  font-family: Hind;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  // line-height: 28px; /* 37.333% */
  letter-spacing: 11.25px;
  text-transform: uppercase;

  max-height: 100%;
  justify-self: center;
}

.ppHeader {
  width: 5rem;
  // height: 97px;
  flex-shrink: 0;
  color: #F45429;
  font-family: Hind;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 127.273% */
  letter-spacing: 2.2px;
  text-transform: uppercase;

  margin: 0;
  max-height: 100%;
  align-self: end;
  transform: translateY(-2%);
  font-size: 18px;
  line-height: 24px; /* 127.273% */
}

.ppParagraph {
  // width: 166px;
  color: #001B08;
  font-family: Inconsolata;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-indent: 15px;
}

//////// persona ////////

.persona {
  display: grid;
  grid-template-columns: 11rem auto;
  padding: 15px 20px 0 20px;

  // padding: 15px 30px 0 30px;
  // grid-template-columns: minmax(0, 203px) minmax(0, 1fr) minmax(0, 1fr);
}

.personaColumn {
  grid-column: 1;
  min-width: 11rem;
  height: 100%;
  grid-row: 1 / span 3;

  // width: 100%;
  // grid-row: 1 / span 3;
}

.perPic {
  max-width: 11rem;
}

.personaName {
  color: #F45429;
  text-align: center;
  font-family: Hind;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 87.5% */
  letter-spacing: 9.6px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  max-width: 100%;

  // padding: 15px 0 15px 0;
}

.demographics {
  display: flex;
  flex-direction: row;
  gap: .5rem;

  // gap: 16px;
}

.demo1 {
  color: #202020;
  text-align: right;
  font-family: Inconsolata;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  margin: 0;

  // font-size: 12px;
}

.demo2 {
  color: #232323;
  font-family: Inconsolata;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;

  // font-size: 14px;
}

.quote {
  margin: 0;
  margin-top: 15px;
  color: #98897E;
  text-align: center;
  font-family: Hind;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 128.571% */
  letter-spacing: 3.5px;
  text-transform: uppercase;

  // font-size: 14px;
  // margin-top: 30px;
}

.probState {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-content: last baseline;
  min-width: 100%;
  padding: 0 0 0 15px;
  max-height: 100%;

  // grid-column: 2 / span 2;
}

.slideHeader {
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin: 0;
}

.probStateHeader {
  color: #00224A;
}

.probStatePara {
  // width: 575px;
  width: 23rem;
  height: auto;
  // flex-shrink: 0;
  color: #000;
  font-family: Inconsolata;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 135.714% */
  letter-spacing: .5px;
  margin: 0;

  // letter-spacing: 1.4px;
  // line-height: 19px; /* 135.714% */
  // font-size: 14px;
}

.goals {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 15px;

  // padding: 0 0 0 25px;
}

.goalsHeader {
  color: #1469C0;
}

.goalsPara {
  color: #000;
  font-family: Inconsolata;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 135.714% */
  padding: 0 0 0 18px;
  margin: 0;

  // font-size: 14px;
}

.frustration {
  padding: 10px 0 0 15px;
}

.frustrationsHeader {
  color: #35AFB8;
}

.personaBio {
  padding: 10px 0 0 0;
  grid-column: 1 / span 2;
  display: flex;
}

.bioBox {
  min-width: 100%;
  min-height: 100%;
  background: rgba(185, 169, 157, 0.39);
}

.bioPara {
  width: 90%;
  padding: 8px 10px 8px 25px;
}

//////// user journey ////////

.userJourney {
  display: grid;
  grid-template-columns: 6rem 1fr 1fr 1fr;
  padding: 10px 5px 0 5px;
  gap: 8px;
}

.ujCol1 {
  border: 2px solid #F45429;
  display: grid;
}

.ujCol1Header {
  margin: 0;
  color: #F45429;
  text-align: center;
  font-family: Hind;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
  letter-spacing: 1.3px;
  text-transform: uppercase;
  align-self: center;
}

.row1Head {
  border: 2px solid #B9A99D;
  display: grid;
}

.actionHeader {
  color: #000;
  // text-align: center;
  font-family: Inconsolata;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: 13px; /* 92.857% */
  letter-spacing: 1.4px;
  margin: 5px 0 0 6px;
}

.ujInfo {
  background: #F5EFEB;;
}

.ujInfoList {
  color: #000;
  font-family: Inconsolata;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 135.714% */
  margin: 0;
  padding: 5px 5px 5px 17px;
}


//////// clickable circles ////////

.circleGroup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 13px;
}

.clickableCircle {
  width: 12px;
  height: 12px;
  border-radius: 16px;
  border: 1px solid #000;
  background: #FFF;
  pointer-events: all;
}

.clickedCircle {
  background: black;
}

@media all and (min-width: 1400px) {
  .carouselContent {
    width: 52rem;
    height: 37rem;

    flex-direction: column;
  }

  .painPoints {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    padding: 30px 15px 0 30px;
  }

  .ppNarrowRow {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-height: 100%;
    padding-bottom: 20px;
    max-width: 100%;
  }
  
  .ppNum {
    width: 100%;
  }
  
  .ppHeader {
    margin: 0;
    align-self: flex-start;
    font-size: 22px;
    line-height: 28px; /* 127.273% */
  }

  .persona {
    padding: 15px 30px 0 30px;
    grid-template-columns: minmax(0, 203px) minmax(0, 1fr) minmax(0, 1fr);
  }
  
  .personaColumn {
    width: 100%;
    grid-row: 1 / span 3;
  }
  
  .perPic {
    max-width: auto;
  }
  
  .personaName {
    padding: 20px 0 15px 0;
  }
  
  .demographics {
    gap: 16px;
  }
  
  .demo1 {
    font-size: 12px;
  }
  
  .demo2 {
    font-size: 14px;
  }
  
  .quote {
    font-size: 14px;
    margin-top: 40px;
  }
  
  .probState {
    grid-column: 2 / span 2;
  }

  .probStatePara {
    width: 575px;
    letter-spacing: 1.4px;
    line-height: 19px; /* 135.714% */
    font-size: 14px;
  }
  
  .goals {
    padding: 10px 0 0 25px;
  }
  
  .goalsPara {
    font-size: 14px;
  }
  
  .personaBio {
    padding: 15px 10 0 15px;
    margin: 0 0 0 20px;
    max-width: 100%;
    height: 135px;
    grid-column: 2 / span 2;
  }

  .bioPara {
    width: 90%;
    padding: 10px 28px 10px 20px;
  }

  .userJourney {
    grid-template-columns: minmax(0, 115px) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    padding: 20px 5px 0 5px;
  }
  
  .ujCol1Header {
    margin: auto;
  }
  
  .actionHeader {
    font-size: 14px;
    margin: 0;
    text-align: center;
    align-content: center;
  }
  
  .ujInfoList {
    font-size: 13px;
  }
}